.custom-marker-cluster {
  background-image: url(../../Asset/group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 61.027px;
  height: 62.641px;
  display: flex;
  justify-content: center;
  
}

.custom-marker-cluster span {
  width: 36.968px;
  height: 22.833px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: auto;
  /* margin-right: auto; */
}

.popup .leaflet-popup-content-wrapper {
    flex-shrink: 0;
    overflow-y: 'visible';
    background-color: white;
    display: "flex";
    z-index: 1;
 
}

.popup .leaflet-popup-content {
  flex-shrink: 0;
  overflow-y: 'visible';
  background-color: white;
  display: "flex";
  z-index: 1;
}
