.custom-marker-cluster {
  background-image: url(../../Asset/group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 61.027px;
  height: 62.641px;
  display: flex;
  justify-content: center;
  
}

.custom-marker-cluster span {
  width: 36.968px;
  height: 22.833px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: auto;
  /* margin-right: auto; */
}

.popup .leaflet-popup-content-wrapper {
    flex-shrink: 0;
    overflow-y: 'visible';
    background-color: white;
    display: "flex";
    z-index: 1;
 
}

.popup .leaflet-popup-content {
  flex-shrink: 0;
  overflow-y: 'visible';
  background-color: white;
  display: "flex";
  z-index: 1;
}
/* legend */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 5px;
}


.edit-location-button {
  position: absolute;
  top: 10%;
  right: 2%;
  border-radius: 15%;
  z-index: 10000;
  background-color: white;
}
.edit-location-button1 {
  position: absolute;
  top: 18%;
  right: 2%;
  border-radius: 5%;
  z-index: 10000;
  background-color: white;
}

.filterscrollBar  ::-webkit-scrollbar-thumb {
  background: rgb(161, 160, 160);
  /* border-radius: 10px; */
  display: block;
}

.border{
  border-top: 4px solid rgb(17, 255, 0);
  width: 100%;
}

.edit-pin-location-button {
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 10%;
  z-index: 10000;
  background-color: white;
}

.dontDisplay{
  display: none;
}
